#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --primary-color: #EF8A2B;
  --text-color: #C9C7C1;
  --bg-color: #233230;
}

body {
  background-color: var(--bg-color);
}
h1, h2, h3 {
  color: var(--primary-color);
}
p, span, ul {
  color: var(--text-color)
}